.chalice/deployments/
.chalice/venv/
.chalice/config.json
__pycache__/**
testing/**
**/.DS_Store
~$og-Automatically convert handwritten notes from Kindle Scribe with Amazon Textract.docx
Blog-Automatically convert handwritten notes from Kindle Scribe with Amazon Textract.docx
aws4auth